<h1>careers works!</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Block-1</p>
            <app-table></app-table>
            <hr>
        </div>

        <div class="col-6">
             <p>Block-2</p> 
            <app-form></app-form>
              <hr>
        </div>

        <div class="col-6">
            <p>Block-3</p>
            <app-form></app-form>
              
        </div>

        <div class="col-6">
            <p>Block-4</p>
            <app-table></app-table>
        </div>
    </div>
</div>






